<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoUrl = "<%= image_url('logo.png') %>"
    </script>
    <script type="text/javascript">
      window.plusUrl = "<%= image_url('plus.png') %>"
    </script>
    <script type="text/javascript">
      window.downArrowUrl = "<%= image_url('down-arrow.png') %>"
    </script>
    <script type="text/javascript">
      window.greyImg = "<%= image_url('grey-img.png') %>"
    </script>
    <%if current_user %>
      <script>
        window.currentUser = {
          "id": "<%= current_user.id%>",
          "username": "<%= current_user.username%>",
          "email": "<%= current_user.email%>",
          "profile_pic": "<%= current_user.profile_pic%>",
        };
      </script>
  <%end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
